/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: 'Titillium Web', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background-color: #0c0001;
    color: #F73F94;
    background-image: linear-gradient(to right, #0c0001 , #6A5A58);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* navigation */

.main-nav {

    width: 100%;

    height: 3em;

    display: flex;

    align-items: center;

    flex-direction: row;
    
    justify-content: center;

    background-color: #282a2e;
    
}

.nav-obj {

    display: flex;

    align-items: center;

    flex-direction: row;
    
    justify-content: center;

    padding: 30px;

}

.nav-link {

    margin:30px;

}

.nav-link > a {


    text-decoration:none;
    
    color:white;

    font-weight: 900;

}

#logout {

    text-decoration:none;
    
    color:pink;

    font-weight: 900;

}

/* posts */

.imageContainer{

    margin: 0 auto;
    
    width: 95%;

    margin-top: 10px;
}

.post {

    display: inline-grid;

    border: solid 2px gray;

    margin: 5px 10px;

    text-align: center;

}

.post2 {

    max-width: 19em;

    display:inline-block;
}

.post2 > img {

    max-height: 19em;

    min-width:100%;

    max-width: 100%;

    cursor: pointer; 

}

.post2 > h3 {

    padding-left : 5px;

    padding-top : 5px;

    font-weight: bold;

    color: #00ff00;

}

.post2 > p {


    padding: 4px 4px 6px 6px;

    white-space: initial;

    word-wrap: break-word;

}

.post .postDelete {

    padding-top:2%;

    padding-bottom: 2%;

}

.post .postEdit {

    padding-bottom: 2%;
    
}

.post .postEdit input[type="text"] {

    border: #33cccc 1px solid;

    border-radius: 5px;

    background: #00080C;

    color: #F73F94;

}

input[type="submit"] {

    border: #33cccc 1px solid;

    border-radius: 5px;

    background: #00080C;

    color: #00ff00;

}

input[type="submit"]:hover {

    color: #F73F94;

}

/* welcome message and form when loggin in */

.online {

    display: grid;

    justify-items: center;

}

.online h1 {

    margin-top: 1%;

}

.online form {

    justify-content: center;

    margin-top: .5%;

    display: grid;

    grid-template-columns: [labels] auto [controls] 1fr;

    grid-gap: .5em;

}

@media only screen and (max-width: 420px) {

    .online form {

        max-width: 40%;
    }
}

.online form label{

    grid-column: labels;

    align-self: center;

}


.online form textarea {

    background: #00080C;

    color: #CCCCCC;

    border: #33cccc 1px solid;
    
    grid-column: controls;

    border-radius: 5px;

}

.online form input[type="file"] {

    grid-column: controls;
    
}

.online form input[type="submit"] {

    margin-top: 2%;

    grid-column: controls;

}

/* forms for login/register */

.centered {

    display:flex;

    align-items:center;

    justify-content:center;

    height:100vh;
}

.form {

    display: flex;

    flex-direction: column;

    background-color:#282a2e;

    box-shadow: 10px 10px pink;

    padding: 5rem;

    text-align:center;

}



.form label {

    margin-bottom: 2em;

    font-weight:800;

    font-size: 2rem;

    text-shadow: 0 3px black;

}

.form input {

    width: 18.7rem;

    height: 3.4rem;

    padding: 10px;

    margin-bottom: 0;

    border: 0;
    
    font-size: 1em;

    -webkit-appearance: none;
    
}

@media only screen and (max-width: 506px) {

    .form {

        max-width: 50vw;

    }

    .form input {

        width: auto;

    }

}

.form input:nth-of-type(2){
    border-top: 1px solid #c0cdd1;
}

.form input, select, textarea{
    color: #E75CD4;
}

.form textarea:focus, input:focus {
    color: #E75CD4;
}

.form button {

    margin-top: 1rem;

    background-color: #c0cdd1;
    
    border:none;

    box-shadow: 0 0 3px #ccc;

}

.form button span {

    font-weight: 860;

    color: #296E26;

    font-size: 1rem;

    text-shadow: 0 1px black;

}

.form p {

    margin-top: 10%;
}

.form p a {

    text-decoration: none;

    color: inherit;

    font-weight: bold;

}
